In [1]:
from utils import get_data

In [2]:
df = get_data('../data')
df.head()

,MLSNUM,STATUS,LISTPRICE,SOLDPRICE,LISTDATE,SOLDDATE,EXPIREDDATE,DOM,DTO,ADDRESS,...,ELEMENTARYSCHOOL,JUNIORHIGHSCHOOL,HIGHSCHOOL,OTHERFEATURES,PROPTYPE,STREETNAME,HOUSENUM1,HOUSENUM2,PHOTOURL,zoMLSNUM
0,72115048.0,ACT,230000,NaN,2/1/2017,NaN,NaN,356.0,NaN,64 Tampa St,...,NaN,NaN,NaN,Basement:No;Fireplaces:0;Roof:Asphalt/Fibergla...,SF,Tampa St,64,64,http://media.mlspin.com/photo.aspx?mls=72115048,NaN
1,72279074.0,ACT,295500,NaN,2/7/2018,NaN,NaN,105.0,NaN,45 Faunce Road,...,NaN,Mildred School,NaN,Basement:Yes;Fireplaces:0;Roof:Asphalt/Fibergl...,SF,Faunce Road,45,45,http://media.mlspin.com/photo.aspx?mls=72279074,NaN
2,72283298.0,NEW,299000,NaN,2/19/2018,NaN,NaN,112.0,NaN,1923 Hyde Park Ave,...,NaN,NaN,NaN,Basement:Yes;Fireplaces:0;Roof:--;Floor:--;App...,SF,Hyde Park Ave,1923,1923,http://media.mlspin.com/photo.aspx?mls=72283298,NaN
3,72226474.0,ACT,349000,NaN,9/11/2017,NaN,NaN,162.0,NaN,21 Kennebec St,...,NaN,NaN,NaN,Basement:Yes;Fireplaces:0;Roof:Asphalt/Fibergl...,SF,Kennebec St,21,21,http://media.mlspin.com/photo.aspx?mls=72226474,NaN
4,72281946.0,ACT,350000,NaN,2/15/2018,NaN,NaN,5.0,NaN,102 Neponset Ave,...,NaN,NaN,NaN,Basement:Yes;Fireplaces:0;Roof:Asphalt/Fibergl...,SF,Neponset Ave,102,102,http://media.mlspin.com/photo.aspx?mls=72281946,NaN